<div class="w-64 bg-[#202022] border-l border-[#2c2c2c] text-gray-200 p-4 overflow-y-auto h-[calc(100vh-80px)]">
  <input type="text" placeholder="Search measurement" class="w-full mb-4 p-1 rounded bg-gray-700 text-sm" />

  <ul class="space-y-2 text-sm">
    @for(m of measurements;track $index ){
        <li class="flex justify-between border-b  border-[#2c2c2c]  pb-1">
            <span>{{ m.label }}</span>
            <span class="text-blue-400">{{ m.value }}</span>
        </li>

    }
  </ul>
</div>
